node_modules
textures
.vscode
.husky
.idea
dist
public
layui
static
build
.json

*.min.js
*.all.js
layui.js
iconfont.js


*.sh
*.md
*.woff
*.ttf

.eslintrc.js
.prettierrc.js

/template/docdash
/electron/src/
/packages/public/atlas
/packages/crawlab
