.it-echarts-dashboard {
  & > div {
    padding: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
  }
  .echart-tooltip {
    background: linear-gradient(180deg, #050f21 0%, #102548 100%);
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #00b9ff;
    padding: 10px;
    font-size: 12px;
    color: #c3d4e5;
  }
  .echart-line-1-tooltip,
  .echart-line-area-tooltip,
  .echart-bar-line-tooltip,
  .echart-bar-line2-tooltip,
  .echart-bar7-tooltip {
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > span {
        display: inline-block;
        &:nth-of-type(1) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          & > span {
            width: 12px !important;
            height: 2px !important;
            border-radius: 0 !important;
          }
        }
        &:nth-of-type(2) {
          margin-left: 6px;
        }
      }
    }
  }
  .map-echert-tooltip {
    // background-color: transparent !important;
    // background: linear-gradient(168deg, rgba(0, 220, 255, 0.74) 0%, rgba(0, 220, 255, 0) 100%);
    // background-color: rgba(0, 12, 46, 0.7);
    // background-image: linear-gradient(168deg, rgba(0, 220, 255, 0.74) 0%, rgba(0, 220, 255, 0) 100%);
    // border: 1px solid transparent;
    padding: 8px;
    // background-color: rgba(0, 12, 46, 0.7);
    background-color: transparent !important;
    border: none;
    background-image: url('/img/box-bg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    & > span {
      &:nth-of-type(1) {
        display: block;
        font-weight: bold;
        color: #00cbff;
        margin-bottom: 0px;
      }
      &:nth-of-type(2) {
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
  &#home_echart_map {
    & > div:has(.map-echert-tooltip) {
      box-shadow: none !important;
      background: transparent !important;
    }
  }
}
.it-echarts {
  & > div {
    padding: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
  }
  .echart-tooltip {
    background: #ffffff;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    border: 1px solid #dee2e9;
    padding: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  .echart-line-1-tooltip,
  .echart-line-area-tooltip,
  .echart-bar-line-tooltip,
  .echart-bar-line2-tooltip,
  .echart-bar7-tooltip {
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > span {
        display: inline-block;
        // &:nth-of-type(1) {
        //   display: flex;
        //   align-items: center;
        //   justify-content: flex-start;
        //   & > span {
        //     width: 12px !important;
        //     height: 2px !important;
        //     border-radius: 0 !important;
        //   }
        // }
        &:nth-of-type(2) {
          margin-left: 6px;
        }
      }
    }
  }
  .map-echert-tooltip {
    // background: linear-gradient(168deg, rgba(0, 220, 255, 0.74) 0%, rgba(0, 220, 255, 0) 100%);
    // background-color: rgba(0, 12, 46, 0.7);
    // background-image: linear-gradient(168deg, rgba(0, 220, 255, 0.74) 0%, rgba(0, 220, 255, 0) 100%);
    // border: 1px solid transparent;
    padding: 8px;
    // background-color: rgba(0, 12, 46, 0.7);
    background-color: transparent;
    border: none;
    background-image: url('/img/box-bg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    & > span {
      &:nth-of-type(1) {
        display: block;
        font-weight: bold;
        color: #00cbff;
        margin-bottom: 0px;
      }
      &:nth-of-type(2) {
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
  &#home_echart_map {
    & > div:has(.map-echert-tooltip) {
      background-color: transparent !important;
    }
  }
  .echart-tooltip-title {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
  }
}
